{% extends "base.html" %}


{% block title %} Delete Stock {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Supprimer article</div> <br>
            <h2>Voulez-vous vraiment supprimer l'article en stock "{{ object.name }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn ghost-red">Oui, Supprimer</button>
            <a href="{% url 'inventaire' %}" class="btn ghost-button">Laisser</a>
        </div>
        
    </form>

{% endblock content %}